@using Microsoft.AspNetCore.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<RequestLocalizationOptions> localizationOptions

@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = localizationOptions.Value.SupportedUICultures.Select(x => new SelectListItem
    {
        Value = x.Name,
        Text = x.Name
    }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" :
    $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<li>
    <form asp-page="/Index" asp-page-handler="CultureManagement" asp-route-returnUrl="@returnUrl" method="post">
        <select name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
            onchange="this.form.submit();">
        </select>
    </form>
</li>