@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "Rubik", sans-serif;
  background: rgb(41, 83, 94);
  background: linear-gradient(90deg, rgb(41, 83, 94) 0%, rgb(21, 44, 48) 85%);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.chevron {
  position: absolute;
  height: 383px;
  width: 170px;
}

.chevron-left {
  left: 0;
  top: 150px;
}

.chevron-right {
  right: 0;
  top: 500px;
}

/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 1.5em 5em;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 2em;
  font-weight: 500;
}

.navbar a {
  color: #BCC7C7;
  text-decoration: none;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav-left {
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right a {
  background-color: #5AC1DA;
  color: #fff !important;
}

/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 92px;
  right: 0;
  background: rgb(41, 83, 94);
  background: linear-gradient(90deg, rgb(41, 83, 94) 0%, rgb(29, 62, 69) 94%);
  color: #000;
  width: 100%;
  height: 100%;
  padding: 30px;
  transition: all 0.3s;
}

.mobile-menu > ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

.mobile-menu div {
  margin-top: 20px;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

main {
  height: 200vh;
  width: 100%;
  max-width: 1440px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li-active {
  position: relative;
  color: #fff;
}

.li-active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60%;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 auto;
  box-shadow: 0px -12px 30px 2px #fff;
  background: #53B1C8;
  transition: 0.5s;
}

.li-active:hover:after {
  width: 80%;
}

.text-danger {
  color: red;
}

input {
  color: rgb(41, 83, 94);
}

select {
  background-color: transparent;
  color: #BCC7C7;
  text-transform: uppercase;
}

option {
  background-color: #fff;
  color: #5AC1DA;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-d-column {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.flex-gap-1 {
  gap: 1em;
}

.flex-gap-2 {
  gap: 2em;
}

.flex-gap-3 {
  gap: 3em;
}

.flex-gap-4 {
  gap: 4em;
}

.flex-gap-5 {
  gap: 5em;
}

pe-1 {
  padding-right: 1em;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: #5AC1DA;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 1.5em;
}

.btn-rounded {
  position: absolute;
  right: -0.5em;
  margin-top: 3.6em;
  background-color: #5AC1DA;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 90px);
  width: 100%;
  max-width: 1440px;
  margin-top: 5em;
  padding: 0 100px;
}
.section__hero .section__hero_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  gap: 3em;
}
.section__hero .section__hero_left {
  justify-self: flex-end;
}
.section__hero .section__hero_left p:first-child {
  padding-left: 0.5em;
}
.section__hero .section__hero_right {
  justify-self: flex-start;
  position: relative;
  margin-top: 5em;
  text-align: end;
}
.section__hero .section__hero_right p:first-child {
  padding-right: 0.5em;
}
.section__hero .section__hero_right p:last-of-type {
  position: absolute;
  right: 0;
  max-width: 270px;
  text-align: left;
  line-height: 1.4;
  color: #BCC7C7;
}
.section__hero .section__hero_right p:last-of-type span {
  color: #fff;
}
.section__hero .section__hero_bottom {
  margin-top: 1.5em;
  font-size: calc(3em + 3vw);
  font-weight: 600;
  background: linear-gradient(to right, #fff 30%, #53B1C8 50%, #fff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
}
.section__hero .hero-text {
  color: #5AC1DA;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.section__hero .hero-subtext {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: calc(1em + 3.5vw);
  font-weight: 700;
  margin-bottom: 0.3em;
}
.section__hero .mouse-scroll {
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.section__hero .mouse-scroll .mouse-scroll-text {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #BCC7C7;
}

.section__teamOfMulti {
  height: 50vh;
}
.section__teamOfMulti__wrapper {
  position: relative;
  height: 100%;
}
.section__teamOfMulti__wrapper__img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__teamOfMulti__wrapper__ellipse1 {
  border: 1px solid blueviolet;
  position: absolute;
  width: 100%;
  max-width: 750px;
  height: auto;
}
.section__teamOfMulti__wrapper__ellipse2 {
  border: 1px solid green;
  position: absolute;
  width: 20vh;
  max-width: 418px;
  height: auto;
}
.section__teamOfMulti__wrapper__ellipse3 {
  border: 1px solid yellow;
  position: absolute;
  width: 100%;
  max-width: 1142px;
  height: auto;
}
.section__teamOfMulti__wrapper__blueIcon1 {
  position: absolute;
  left: -0.9%;
  top: 38%;
  height: 31.85px;
  width: 31.85px;
  border-radius: 50%;
  background-color: #5AC1DA;
}
.section__teamOfMulti__wrapper__image1 {
  position: absolute;
  top: 34.2%;
  left: 3%;
}

@media (max-width: 1185px) {
  .navbar li {
    font-size: 0.9em;
    margin: 0 0.9em;
  }
  .section__hero_container {
    gap: 0.5em;
  }
}
@media (max-width: 900px) {
  main {
    padding: 0.5em;
  }
  .navbar {
    padding: 1.5em;
  }
  .navbar-brand img {
    height: 28px;
  }
  .btn-primary {
    padding: 1em;
  }
  .section__hero {
    gap: 0.5em;
    padding: 0 80px;
  }
  .section__hero .section__hero_right {
    margin-top: 2.5em;
  }
  .section__hero .section__hero_bottom {
    margin-top: 2em;
  }
  .section__hero .hero-text {
    font-size: 1em;
  }
}
@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .navbar .navbar-nav-left,
.navbar .navbar-nav-right {
    display: none;
  }
  .section__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
  }
  .section__hero .section__hero_container {
    justify-content: center;
  }
  .btn-rounded {
    margin-top: 4em;
  }
}
@media (max-width: 580px) {
  main {
    padding: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */